body {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    background: radial-gradient(circle at top, #2a2f55, #0f1220);
    color: white;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    width: 1100px;
    margin: 50px auto;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 42px;
    margin: 0;
}

.header p {
    color: #aaa;
}

.project-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.project-bar input {
    flex: 1;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.1);
    background: rgba(255,255,255,0.05);
    color: white;
    outline: none;
}

.project-bar button {
    padding: 14px 20px;
    border-radius: 12px;
    border: none;
    background: #6c5cff;
    color: white;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.card {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 18px;
    padding: 20px;
    backdrop-filter: blur(10px);
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.card-title h2 {
    margin: 0;
}

select {
    background: rgba(255,255,255,0.05);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 10px;
    border-radius: 10px;
}

.skeleton-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 20px;
}

.sk {
    background: rgba(255,255,255,0.08);
    border-radius: 12px;
    animation: pulse 1.5s infinite;
}

.sk {
    height: 18px;
}

.sk.big {
    height: 140px;
}

.sk.small {
    height: 70px;
}

@keyframes pulse {
    0% { opacity: 0.4; }
    50% { opacity: 0.8; }
    100% { opacity: 0.4; }
}

.team-area {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.team-row {
    display: flex;
    gap: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    cursor: pointer;
    border-radius: 12px;
    padding: 12px 16px;
    border: none;
}

.primary {
    background: #6c5cff;
    color: white;
}

.ghost {
    background: transparent;
    border: 1px solid rgba(255,255,255,0.2);
    color: white;
}
